@font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
    url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #202528;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:whitesmoke;
    font-family:Georgia, serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.5em;
}

h2 {
    color:#ff9e00;
    font-family:Georgia, serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0.5em;
}

.board {
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em 1em;
    background: #240046;
    border-radius: 2em;
    border: 0.3em solid whitesmoke;
    outline: 0.5em solid #202528;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center; 
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .score {
    position: relative;
    width: 5em;
    height: 3em;
    margin-bottom: 1em;
    margin-left: 1.9em;
    background-color: #0c0c0c ;
}

.bot .score {
    position: relative;
    width: 5em;
    height: 3em;
    margin-bottom: 1em;
    margin-left: 0.4em;
    background-color: #0c0c0c ;
}

.mid .score {
    position: relative;
    width: 5em;
    height: 3em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    background-color: #0c0c0c ;
}

#homepts, #hmfoulpts, #pdpts, #gstpts, #gstfoulpts{
    font-family: 'Digital Display',monospace;
    font-size: 3em;
    text-align: end;
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; 
    margin-right: 10px;
    color: whitesmoke;
}

.shaddow {
    position: absolute;
    margin: 0;
    font-family: 'Digital Display',monospace;
    font-size: 3em;
    text-align: center;
    color: black;
    z-index: 1;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
    width: 3.4em;
    height: 1.7em;
    font-size: 0.8em;
    border: 0.1px solid white;
    color: var(--text-color2);
    background-color: transparent;
    padding: auto;
    margin: auto;
}

.btn-dn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 6.5em; 
    margin: 0 1em;
}

button:hover {
    background-color: #202528;
    color:whitesmoke;
}

.arrow {
    border: solid whitesmoke;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow :hover {
    background-color: #202528;
    border: solid whitesmoke;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

#arw-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 4em;
    margin: 0 2em;
}

 
@media (min-width: 770px) {
    .board {
        align-items: center;
        width: fit-content;
        height: 100%;
        margin: auto;
        padding-bottom: 0;
    }
    .wrapper {
        align-items:center;
        margin: 2em;
    }
    h1 {
        font-size: 4em;
        margin: auto;
        margin-bottom: 0.2em;
    }
    h2 {
        font-size: 3em;
        margin-top: 0;
        margin: aut;
    }
    .top .score {
        width: 9em;
        height: 6em;
        margin: auto;
        padding: 0 1em;
    }
    .mid .score {
        width: 9em;
        height: 6em;
        margin:auto;
        padding: 0 1em;
    }
    .bot .score {
        width: 9em;
        height: 6em;
        margin:auto;
        padding: 0 1em;
    }
    button {
        margin: 0.8em; 
        width: 3.5em;
        height: 1.9em;
        font-size: 0.8em; 
    }

    .btn-dn {
       margin-left: 2.5em;
        
    }
    #arw-btn {
        margin-left: 3.7em;
    }
    .btn-foul {
        margin-left: 1.5em;
    }
    .shaddow {
        font-size: 6em;
    }
    #homepts, #hmfoulpts, #pdpts, #gstpts, #gstfoulpts {
        font-size: 6em;
    }
}
   
        
  
        